<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
   <p class="notice"><%= notice %></p>
       <p class="alert"> <%= alert %></p
  </head>

  <body>
     <nav class= "navbar navbar-default">
        <div class = "container-fluid"> 
          <div class="navbar-header">
          <a class= "navbar-brand navbar-center" href="<%=root_path %>">Todo_app</a>
        </div>
     <div class="collapse-navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class ="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li class ="nav-item"> <%= link_to "New +",new_task_path(@task),class: "nav-link" %></li>
         <li  class ="nav-item"><%= link_to 'Sign-Out <i class="fa fa-sign-out"></i>'.html_safe,destroy_user_session_path, :method=> :delete ,class: "nav-link" %></li>
         <%else%>
          <li><%= link_to "Sign up",new_user_registration_path %></li>

          <li><%= link_to "Sign_in",new_user_session_path %></li>
        <%end %>
      </ul></div>
    </div>
    </nav>
            
    <div class="container">
        <div class="col-lg-10-offset-2">
          
        </div>
      
    </div>
    <%= yield %>
  </body>
</html>
